.body{
    margin: 0;
    padding: 0;
}
#clock{
    background: url(./image/hd-wallpaper-3441687_1920.jpg) no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
}
.colun{
    font-size: 50px;
}
#clock div{
    /* border: 2px solid red; */
    width: 140px;
    margin: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
}

#clock h1{
    font-size: 60px;
    width: 90%;
    text-align:center;
}
#ampm{
    font-size: 50px;
}
